# Python
__pycache__/
*.pyc
.venv/

*.ipynb_checkpoints

# Logs
*.log

# Fichiers système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Fichiers temporaires
*.tmp
*.temp
# data files
./data/S1
./data/texts/S1

