argcomplete==1.10.0
beautifulsoup4==4.8.0
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.4.2
cryptography==45.0.4
docx2txt==0.8
EbookLib==0.17.1
extract-msg==0.23.1
IMAPClient==2.1.0
lxml==5.4.0
olefile==0.46
packaging==25.0
pdf2image==1.17.0
pdfminer.six==20181108
pdfplumber==0.11.7
pillow==11.2.1
pycparser==2.22
pycryptodome==3.23.0
pypdfium2==4.30.1
pytesseract==0.3.13
python-pptx==0.6.18
pytz==2025.2
pywin32==310
six==1.12.0
sortedcontainers==2.4.0
soupsieve==2.7
SpeechRecognition==3.8.1
textract==1.6.3
typing_extensions==4.14.0
tzlocal==1.5.1
xlrd==1.2.0
xlsxwriter==3.2.5
